{% extends "base.html" %}

{% block header %}
  {% if user_id is none %}
    <a href="{{ url_for('loginOrLogout') }}">Login</a>
  {% else %}
    <a href="{{ url_for('loginOrLogout') }}">Logout</a>
  {% endif %}
{% endblock %}

{% block heading %}
  <h1>Categories</h1>
{% endblock %}

{% block main %}
<ul>
  {% for category in categories %}
  <li>
    <a href="{{ url_for('showCategory', category_name=category.name) }}">{{category.name}}</a>
    <br>
    {% if category.user_id == user_id %}
    <a href="{{ url_for('editCategory', category_name=category.name) }}">Edit</a>
    <a href="{{ url_for('deleteCategory', category_name=category.name) }}">Delete</a>
    <br>
    <br>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<a href="{{ url_for('addCategory') }}">Add Category</a>
{% endblock %}
