{% extends "base.html" %}

{% block header %}
  {% if user_id is none %}
    <a href="{{ url_for('loginOrLogout') }}">Login</a>
  {% else %}
    <a href="{{ url_for('loginOrLogout') }}">Logout</a>
  {% endif %}
{% endblock %}

{% block heading %}
  <h1>{{ category_name }}</h1>
{% endblock %}

{% block main %}
<ul>
  {% for person in persons %}
  <li>
    Name: {{ person.name }}
    <br>
    Phone: {{ person.mobile }}
    <br>
    Address: {{ person.address }}
    <br>
    {% if person.user_id == user_id %}
    <a href="{{ url_for('editPerson', category_name=category_name, person_id=person.id) }}">Edit</a>
    <a href="{{ url_for('deletePerson', category_name=category_name, person_id=person.id) }}">Delete</a>
    <br>
    <br>
    {% endif %}
  </li>
  {% endfor %}
</ul>
<a href="{{ url_for('addPerson', category_name=category_name) }}">Add New Member</a>
{% endblock %}
