{% extends "base.html" %}

{% block header %}
  {% if user_id is none %}
    <a href="{{ url_for('loginOrLogout') }}">Login</a>
  {% else %}
    <a href="{{ url_for('loginOrLogout') }}">Logout</a>
  {% endif %}
{% endblock %}

{% block heading %}
<h1>Delete Entry</h1>
{% endblock %}

{% block main %}
  <form action="{{ url_for('deletePerson', category_name=category_name, person_id=person_id) }}" method="post">
    <button type="submit" name="submit">Delete</button>
    <a href="{{ url_for('showCategory', category_name=category_name) }}">Cancel</a>
  </form>
{% endblock %}
