<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>Delete Category: {{ category_name }}</h1>
  <form action="{{ url_for('deleteCategory', category_name = category_name) }}" method="post">
    <button type="submit" name="submit">Delete</button>
    <a href="{{ url_for('showAllCategories') }}">Cancel</a>
  </form>
</body>

</html> -->


{% extends "base.html" %}

{% block heading %}
<h1>Delete Category: {{ category_name }}</h1>
{% endblock %}

{% block main %}
  <form action="{{ url_for('deleteCategory', category_name = category_name) }}" method="post">
    <button type="submit" name="submit">Delete</button>
    <a href="{{ url_for('showAllCategories') }}">Cancel</a>
  </form>
{% endblock %}
