{% extends "base.html" %}

{% block header %}
  {% if user_id is none %}
    <a href="{{ url_for('loginOrLogout') }}">Login</a>
  {% else %}
    <a href="{{ url_for('loginOrLogout') }}">Logout</a>
  {% endif %}
{% endblock %}

{% block heading %}
  <h1>Edit Category Name: {{ category_name }}</h1>
{% endblock %}

{% block main %}
  <form action="{{ url_for('editCategory', category_name=category_name) }}" method="post">
    <label for="category_name">Category:</label>
    <input type="text" id="category_name" name="edited_category_name" size="30" placeholder="{{ category_name }}" required>
    <br>
    <button type="submit" name="submit">Submit</button>
    <a href="{{ url_for('showAllCategories') }}">Cancel</a>
  </form>
{% endblock %}
