{% extends "base.html" %}

{% block header %}
  {% if user_id is none %}
    <a href="{{ url_for('loginOrLogout') }}">Login</a>
  {% else %}
    <a href="{{ url_for('loginOrLogout') }}">Logout</a>
  {% endif %}
{% endblock %}

{% block heading %}
  <h1>Add A New Category</h1>
{% endblock %}

{% block main %}
  <form action="{{ url_for('addCategory') }}" method="post">
    <label for="category_name">Category:</label>
    <input type="text" id="category_name" name="category_name" size="30" placeholder="Category" required>
    <button type="submit" name="submit">Submit</button>
    <a href="{{ url_for('showAllCategories') }}">Cancel</a>
  </form>
{% endblock %}
