<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Essential Services</title>
</head>

<body>
  <h1>Categories</h1>
  <ul>
    {% for category in categories %}
    <li>
      <a href="{{ url_for('showCategory', category_name=category.name) }}">{{category.name}}</a>
      <br>
    </li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('addCategory') }}">Add Category</a>
</body>

</html> -->


{% extends "base.html" %}

{% block heading %}
  <h1>Categories</h1>
{% endblock %}

{% block main %}
  <ul>
    {% for category in categories %}
    <li>
      <a href="{{ url_for('showCategory', category_name=category.name) }}">{{category.name}}</a>
      <br>
    </li>
    {% endfor %}
  </ul>
  <a href="{{ url_for('addCategory') }}">Add Category</a>
{% endblock %}
